<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<style type="text/css">
    * {
        color: mediumblue;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .link {
        margin: 10px;
        text-decoration: rosybrown;
        box-shadow: -2px 2px 2px 2px aquamarine;
        cursor: pointer;
    }
</style>
<h1>Приложение с использованием Spring Security</h1>
<br>
<h1>Для продолжения работы требуется авторизация</h1>

<a class="link" href="/login"> Войти</a>
<a class="link" href="/login"> Профиль</a>
<a class="link" href="/admin/user"> Панель Администратора</a>
</body>
</html>