<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      lang="en">

<head>
    <title>Spring Security</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body class="container mt-5">
<h1>
    <span>Welcome to the site,</span>
    <span th:text="${user.getUsername()}">Subtitle</span>
</h1>

<table class="table">
    <tr>
        <th scope="col" class="h5">Your id</th>
        <th scope="col" class="h5">Your email</th>
        <th scope="col" class="h5">Your first name</th>
        <th scope="col" class="h5">Your last name</th>
        <th scope="col" class="h5">Roles</th>
    </tr>
    <tr>
        <td><p th:text="${user.getId()}" class="h6"> VALUE </p></td>
        <td><p th:text="${user.getEmail()}" class="h6"> VALUE </p></td>
        <td><p th:text="${user.getFirstName()}" class="h6"> VALUE </p></td>
        <td><p th:text="${user.getLastName()}" class="h6"> VALUE </p></td>
        <td>
            <span th:object="${user}" th:each="role,iterStat: ${user.getRoles()} " th:text="${role.name} + ${iterStat.last ? '' : ', '}" > VALUE</span>
        </td>
    </tr>
</table>
<br/>
<div class="d-flex">
    <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-primary mr-2" th:href="@{/admin/user/{id}/edit (id=${user.getId()})}">Edit</a>
    <a sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-danger" th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
    </form>
</div>
<br/>

<a class="btn btn-info" th:href="@{/}">Вернуться на Главную</a>
<a sec:authorize="hasRole('ROLE_ADMIN')"  class="btn btn-warning" th:href="@{/admin/user}">Admin tab</a>
<!--<a class="btn btn-danger" th:href="@{/logout}">Logout</a>-->
<form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>